{% extends 'base_templates/base.html' %}
{% load static %}
{% block title %}Registration{% endblock title %}

{% block content %}
<style>
    .form-control::placeholder {
        color: white;
      }
</style>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
            </div>
            <div class="col-md-4 col-xs-6 text-center">
                <form class="form-signin" method="POST">
                  {% csrf_token %}
                <h3 class="h3 mb-3 font-weight-normal">Registration</h3>

                {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for er in form.email.errors %} {{er}} {% endfor %}
                    </div>
                {% endif %}

                {% if form.re_password.errors %}
                    <div class="alert alert-danger" role="alert">
                      {% for er in form.re_password.errors %} {{er}} {% endfor %}
                    </div>
                {% endif %}

                {{form.email}}

                {{form.first_name}}

                {{form.last_name}}
                
                {{form.password}}

                {{form.re_password}}

                <button class="btn btn-lg btn-primary btn-block my-2" type="submit">Registration</button>

              </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}